<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>VikusViewer</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="pinterest" content="nohover" />
  <base target="_blank" />

  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/infobar.css" />
  <link rel="stylesheet" href="css/timeline.css" />

  <script src="js/d3.v3.min.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/marked.min.js"></script>
  <script src="js/lodash.min.js"></script>
  <script src="js/pixi.min.js"></script>
  <script src="js/pixi-packer-parser.js"></script>
  <script src="js/loader.js"></script>
  <script src="js/canvas.js"></script>
  <script src="js/timeline.js"></script>
  <script src="js/search.js"></script>
  <script src="js/tags.js"></script>
  <script src="js/utils.js"></script>
  <script src="js/modernizr-custom.js"></script>
  <script>
    function changeFullscreenMode() {
      var elem = document.documentElement;
      if (document.fullscreenElement) {
        document.exitFullscreen();
      } else {
        elem.requestFullscreen();
      }
    }

    document.addEventListener("fullscreenchange", function () {
      var elem = document.documentElement;
      if (document.fullscreenElement) {
        document.getElementById("fullscreen").classList.add("active");
      } else {
        document.getElementById("fullscreen").classList.remove("active");
      }
    });
  </script>
  <!--[if lt IE 9]>
      <script
        src="http://html5shiv.googlecode.com/svn/trunk/html5.js"
        type="text/javascript"
      ></script>
    <![endif]-->

  <!--

                           ,--.
               ,---,   ,--/  /|               .--.--.
       ,---.,`--.' |,---,': / '         ,--, /  /    '.
      /__./||   :  ::   : '/ /        ,'_ /||  :  /`. /
 ,---.;  ; |:   |  '|   '   ,    .--. |  | :;  |  |--`
/___/ \  | ||   :  |'   |  /   ,'_ /| :  . ||  :  ;_
\   ;  \ ' |'   '  ;|   ;  ;   |  ' | |  . . \  \    `.
 \   \  \: ||   |  |:   '   \  |  | ' |  | |  `----.   \
  ;   \  ' .'   :  ;|   |    ' :  | | :  ' ;  __ \  \  |
   \   \   '|   |  ''   : |.  \|  ; ' |  | ' /  /`--'  /
    \   `  ;'   :  ||   | '_\.':  | : ;  ; |'--'.     /
     :   \ |;   |.' '   : |    '  :  `--'   \ `--'---'
      '---" '---'   ;   |,'    :  ,      .-./
                    '---'       `--`----'
               ,---,    ,---,.           .---.    ,---,.,-.----.
       ,---.,`--.' |  ,'  .' |          /. ./|  ,'  .' |\    /  \
      /__./||   :  :,---.'   |      .--'.  ' ;,---.'   |;   :    \
 ,---.;  ; |:   |  '|   |   .'     /__./ \ : ||   |   .'|   | .\ :
/___/ \  | ||   :  |:   :  |-, .--'.  '   \' .:   :  |-,.   : |: |
\   ;  \ ' |'   '  ;:   |  ;/|/___/ \ |    ' ':   |  ;/||   |  \ :
 \   \  \: ||   |  ||   :   .';   \  \;      :|   :   .'|   : .  /
  ;   \  ' .'   :  ;|   |  |-, \   ;  `      ||   |  |-,;   | |  \
   \   \   '|   |  ''   :  ;/|  .   \    .\  ;'   :  ;/||   | ;\  \
    \   `  ;'   :  ||   |    \   \   \   ' \ ||   |    \:   ' | \.'
     :   \ |;   |.' |   :   .'    :   '  |--" |   :   .':   : :-'
      '---" '---'   |   | ,'       \   \ ;    |   | ,'  |   |.'
                    `----'          '---"     `----'    `---'



christopher pietsch
cpietsch@gmail.com
2015-2018

 -->
</head>

<body>
  <div id="hiddenreload"></div>

  <div class="browserInfo">
    <p>
      This visualization is not optimized for mobile phones and needs WebGL
      enabled.
    </p>
    <p>Please come back on a Computer.</p>
    <span>💡</span>
  </div>

  <div class="search"></div>

  <div class="page">
    <div class="detailLoader"></div>
    <div class="sideLoader"></div>

    <div class="sidebar detail hide">
      <div class="slidebutton"></div>

      <div class="outer">
        <div id="detail" class="inner">
          <div class="entries" v-if="item">
            <div v-if="item._imagenum > 1" class="entry wide pages">
              <div class="label">Seite</div>
              <div class="content">
                <span v-for="i in parseInt(item._imagenum)" v-bind:key="i" v-on:click="displayPage(i-1)"
                  v-bind:class="{ active: i === page+1, keyword: true }">
                  {{ i }}
                </span>
              </div>
            </div>
            <div v-for="entry in structure" v-bind:key="entry.name" v-bind:class="entry.display" class="entry"
              v-if="hasData(entry)">
              <div v-if="entry.name" class="label">{{ entry.name }}</div>
              <div class="content">
                <span v-if="entry.type === 'keywords'">
                  <span v-for="keyword in item[entry.source]" v-bind:key="keyword" class="keyword">
                    {{ keyword }}
                  </span>
                </span>
                <span v-else-if="entry.type === 'link'">
                  <a :href="item[entry.source]" target="_blank">Link</a>
                </span>
                <span v-else-if="entry.type === 'markdown'">
                  <span v-html="getContent(entry)"></span>
                </span>
                <span v-else-if="entry.type === 'function'">
                  <span v-html="getContent(entry)"></span>
                </span>
                <span v-else>
                  {{ getContent(entry) }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="navi">
    </div>

    <div class="infobar sneak">
      <div class="infobutton">
        <svg width="16px" height="24px" viewBox="0 0 16 24">
          <path d="M13.6824546,2 L3.7109392,11.9715154 L13.7394238,22" stroke="#FFF" stroke-width="5"></path>
        </svg>
      </div>

      <div class="outer">
        <div class="inner">
          <div id="infobar" class="infosidebar">
            <span v-html="marked(info)" style="word-break: normal; white-space: pre-wrap;"></span>
            <div class="credit">
              Powered by
              <a href="https://vikusviewer.fh-potsdam.de/" target="_blank">VIKUS Viewer</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="searchbar">
      <input type="input" name="suche" />
      <div class="button">
        <div class="openbutton"></div>
      </div>
    </div>
    <button class="fs-button" id="fullscreen" onclick="changeFullscreenMode()">
      <p class="sr-only">Vollbild</p>
      <svg class="inactive" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M32 32C14.3 32 0 46.3 0 64v96c0 17.7 14.3 32 32 32s32-14.3 32-32V96h64c17.7 0 32-14.3 32-32s-14.3-32-32-32H32zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7 14.3 32 32 32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H64V352zM320 32c-17.7 0-32 14.3-32 32s14.3 32 32 32h64v64c0 17.7 14.3 32 32 32s32-14.3 32-32V64c0-17.7-14.3-32-32-32H320zM448 352c0-17.7-14.3-32-32-32s-32 14.3-32 32v64H320c-17.7 0-32 14.3-32 32s14.3 32 32 32h96c17.7 0 32-14.3 32-32V352z"/></svg>
      <svg class="active" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M160 64c0-17.7-14.3-32-32-32s-32 14.3-32 32v64H32c-17.7 0-32 14.3-32 32s14.3 32 32 32h96c17.7 0 32-14.3 32-32V64zM32 320c-17.7 0-32 14.3-32 32s14.3 32 32 32H96v64c0 17.7 14.3 32 32 32s32-14.3 32-32V352c0-17.7-14.3-32-32-32H32zM352 64c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7 14.3 32 32 32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H352V64zM320 320c-17.7 0-32 14.3-32 32v96c0 17.7 14.3 32 32 32s32-14.3 32-32V384h64c17.7 0 32-14.3 32-32s-14.3-32-32-32H320z"/></svg>
    </button>
  </div>

  <script src="js/sidebars.js"></script>
  <script src="js/viz.js"></script>
</body>

</html>
